.idea/
.vscode

# cmake stuff
cmake-build-debug/
CMakeFiles
cmake_install.cmake
CMakeCache.txt
Makefile
*.so

# User database files
mutgos.db
mutgos.db-shm
mutgos.db-wal

# Compiled objects
*.so
**/mutgos_server/mutgos_server
**/read_dump/readdump
**/angelscript_test/angelscript_td
**/vheap_test/vheap_td

# Make sure the user can't check in their certificate
server.pem
